.btn {
  transform: translate(-58px, 7px);
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;

    transition: all 0.3s;
  }

  &:hover {
    transform: translate(-58px, 6px);
    box-shadow: 0 10px 20px rgba(#000, 0.2);
  }

  &:active {
    tranform: translate(-58px, 8px);
    box-shadow: 0 5px 20px rgba(#000, 0.2);
  }

  &--white {
    color: $blue;
    background-color: $white;
    border: 1px solid $light-blue;
  }

  &--blue {
    color: $white;
    background-color: $blue;
  }

  &--orange {
    color: $white;
    background-color: $orange;
  }

  &--short {
    padding: 10px 30px;
  }

  &--medium {
    padding: 10px 45px;
  }

  &--long {
    padding: 10px 100px;
  }
}
