.btn {
  text-align: center;
  transform: translate(-4rem, 1.2rem);
  width: 100%;
  padding: 1rem 0;
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    display: inline-block;

    transition: all 0.3s;
  }

  &:hover {
    transform: translate(-4rem, 1rem);
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);
  }

  &:active {
    tranform: translate(-4rem, 1.2rem);
    box-shadow: 0 0.5rem 2rem rgba(#000, 0.2);
  }

  &--blue {
    &--inverse {
      color: $white;
      background-color: $blue;
    }

    &--reverse {
      color: $blue;
      background-color: $white;
      border: 1px solid $light-blue;
    }
  }

  &--orange {
    &--inverse {
      color: $white;
      background-color: $orange;
    }

    &-reverse {
      color: $orange;
      background-color: $white;
      border: 1px solid $orange;
    }
  }
}
