.form {
  &__popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba($black, 0.6);
    opacity: 1;
    visibility: visible;
  }

  &__content {
    @include absCenter;
    width: 58%;
    height: 55rem;
    background-color: $white;
    box-shadow: 0 2rem 4rem rgba($black, 0.2);
    border-radius: 0.3rem;
    overflow: hidden;
  }

  &__main {
    display: table;
  }

  &__left {
    display: table-cell;
    width: 30%;

    background-image: url("/static/form_image.png");
    background-size: cover;
    height: 55rem;
  }

  &__right {
    display: table-cell;
    width: 70%;
  }

  &__wrapper {
    display: inline-block;
    transform: translate(10%, 40%);

    &__icon {
      background-color: $dark-orange;
      border-radius: 10rem;
      width: 5rem;
      height: 5rem;
    }

    &__title {
      text-transform: uppercase;
      padding: 2rem 0 0 0.4rem;
      font-size: 1.7rem;
      font-weight: bold;
    }

    &__input {
      padding: 1.5rem 0;
    }

    &__button {
      width: 30%;
      transform: translateX(34%);
    }
  }

  &__input {
    font-size: 1.3rem;
    padding: 1.4rem 25rem 1.4rem 1rem;

    border: none;
    border-radius: 0.5rem;
    border: 1px solid $grey;
    display: inline-block;
    position: relative;

    &::-webkit-input-placeholder {
      color: rgba($dark-grey, 0.8);
      text-transform: uppercase;
      -webkit-transform: translate(0);
      transition-property: -webkit-transform, font-size;
      transition-duration: 0.3s, 0.3s;
      transition-timing-function: ease;
    }

    &:hover {
      border: 1px solid rgba($dark-grey, 0.6);

      &::-webkit-input-placeholder {
        transition-property: -webkit-transform, font-size;
        transition-duration: 0.3s, 0.3s;
        transition-timing-function: ease;
        font-size: 1.1rem;
        -webkit-transform: translate(-0.3rem, -1.1rem);
      }
    }
  }
}

.reddit-icon {
  display: inline-block;
  border-radius: 10rem;
  width: 4rem;
  height: 4rem;
  transform: translate(11%, 11%);
}
