.growing-communities {
  width: 100%;
  font-size: 1.2rem;
  display: inline-block;
  border: 1px solid rgba($grey, 0.2);
  border-radius: 0.5rem;
  background-color: $white;
  text-align: left;

  &__background {
    background-image: url("/client/public/growing-images/banner-background.png");
    width: 2rem;
  }

  &__viewall-btn {
    width: 100%;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 2rem;

    &__image {
      align-self: center;
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      margin-left: 4rem;
    }
  }

  &__headline {
    text-transform: uppercase;
    margin-left: 1rem;
    font-weight: bold;
  }

  &__subreddit-info {
    align-self: flex-start;
    &__sub-info-1 {
      font-weight: bold;
      margin-left: 1rem;
    }
    &__sub-info-2 {
      margin-left: 1rem;
    }
  }
}
