.hero {
  background-image: url(https://www.redditstatic.com/desktop2x/img/gold/premium-hero-g.jpg);
  box-sizing: border-box;
  padding-top: 20rem;
  min-height: 544px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: black;
  color: white;

  &--info {
    font-size: 18px;
    line-height: 28px;
  }
}
