.community-container {
  .community {
    &__info {
      background-color: #fff;
    }

    &__color-picker {
      text-align: center;

      .chrome-picker,
      button {
        margin: 0 auto;
      }
    }

    &__banner {
      height: 80px;
      width: 100%;
      background-color: var(--community-theme-main);
    }

    &__header {
      display: flex;
      align-items: flex-end;
      width: 100%;
      max-width: 980px;
      margin: 0 auto;
      margin-top: -12px;
      padding: 0 16px;

      &__icon {
        border: 4px solid #fff;
        border-radius: 100%;
        height: 72px;
        width: 72px;
      }

      &__titles {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 8px 8px;

        h1 {
          line-height: 3.2rem;
          font-size: 2.8rem;
          margin: 0;
        }

        h3 {
          line-height: 1.8rem;
          font-size: 1.4rem;
          margin: 5px 0 0;
          color: $dark-grey;
        }
      }

      &__btn {
        margin: 0 0 30px 16px;
        width: 100%;
        max-width: 100px;
      }
    }

    &__createpost {
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid #ccc;
      display: flex;
      margin-bottom: 16px;
      padding: 8px;
      border-radius: 0.5rem;
      box-sizing: border-box;

      a {
        background-color: #f6f7f8;
        border-radius: 4px;
        border: 1px solid #edeff1;
        box-shadow: none;
        box-sizing: border-box;
        color: #a0a0a0;
        display: flex;
        align-items: center;
        flex-grow: 1;
        height: 38px;
        margin-right: 8px;
        outline: none;
        padding: 0 16px;
        text-decoration: none;
        line-height: 2.1rem;
        font-size: 1.4rem;
        cursor: text;
      }
    }
  }
}

// these is extracted from above because it's used on the create post page too
.community {
  &__box {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 0.5rem;
    background-color: $white;
    color: #1c1c1c;
    line-height: 1.8rem;
    font-size: 1.4rem;

    &__header {
      height: 46px;
      display: flex;
      align-items: center;
      line-height: 1.8rem;
      font-size: 1.4rem;
      font-weight: bold;
      background-color: var(--community-theme-main);
      color: var(--community-theme-text);
      padding: 16px;
      box-sizing: border-box;
      border-radius: 0.5rem 0.5rem 0 0;
    }

    &__content {
      padding: 12px;

      & > div {
        margin-bottom: 8px;
      }
    }

    hr {
      background-color: #edeff1;
      border: none;
      height: 1px;
      margin: 16px 0;
    }
  }

  &__about {
    &__users {
      display: flex;

      div {
        display: flex;
        flex-direction: column;
        width: 45%;

        p {
          margin: 0 0 4px;
        }

        p:nth-of-type(1) {
          line-height: 2rem;
          font-size: 1.6rem;
          font-weight: bold;
        }

        p:nth-of-type(2) {
          line-height: 1.6rem;
          font-size: 1.2rem;
        }
      }
    }

    span {
      line-height: 1.6rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
