.label {
  background-color: #edeff1;
  color: #1a1a1b;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  border-radius: 2px;
  padding: 0 4px;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  word-break: normal;
}
