.footerbox {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  width: 30rem;
  justify-content: left;
  background-color: $white;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-top: 2rem;
  margin-bottom: 8px;
  line-height: 2rem;
  font-size: 1.2rem;

  &__list {
    list-style: none;
    padding: 0 2rem 0 1.5rem;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__copyright {
    margin-left: 1.5rem;
  }
}
