.recent-posts {
  width: 100%;
  display: inline-block;
  border: 1px solid rgba($grey, 0.2);
  border-radius: 0.5rem;
  background-color: $white;

  // padding: 0.5rem;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    flex-wrap: nowrap;

    padding-right: 0.5rem;
  }

  &-right {
    padding-left: 2rem;
  }

  &-left {
  }

  &__element {
    &:not(:last-child) {
      display: inline-block;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba($grey, 0.9);
    }
  }

  &__title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;

    &-sub {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__info {
    font-size: 1.2rem;
    color: $dark-grey;
  }

  &__image-wrapper {
    &--icon {
      transform: translate(11%, 25%);
      height: 5.5rem;
      width: 7rem;
      border-radius: 10%;
      vertical-align: middle;
    }
  }

  &__headline {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-left: 1rem;
    font-weight: bold;
  }
}

.clear {
  text-align: right;
  display: inline-block;
  padding: 2rem 4rem 1rem 2rem;
  // padding: 2rem;
  margin-left: 24.5rem;
  font-size: 1.3rem;
  color: $grey;
  cursor: pointer;
}
