.recent-posts {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
  border-radius: 0.5rem;
  background-color: $white;
  padding: 1.2rem;
  margin-bottom: 1.6rem;

  &__headline {
    color: #1a1a1a;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0.4rem;
    margin: 0;
  }

  &__row {
    display: flex;
    align-items: center;
    padding: 1.2rem 0;

    &:nth-last-of-type(2) {
      padding-bottom: 0;
    }
  }

  &__image {
    height: 49px;
    width: 65px;
    border-radius: 0.4rem;
    border: 1px solid $blue;
    box-sizing: border-box;
    margin-right: 8px;
  }

  &__details {
    &__title {
      font-size: 1.4rem;
      color: #1a1a1a;
      margin: 0 0 0.4rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(310px - 65px - 8px - 12px - 12px);
    }

    &__info {
      font-size: 1.1rem;
      color: #878a8c;

      span {
        &:not(:first-of-type) {
          &:before {
            content: "\B7";
            font-weight: 700;
            margin: 0 3px;
          }
        }
      }
    }
  }

  &__clear {
    width: 100%;
    text-align: right;

    button {
      font-size: 1.2rem;
      cursor: pointer;
      background-color: $white;
      color: #878a8c;
      border: none;
    }
  }
}
