.sortview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  background-color: white;

  .sortview {
    &__header {
      text-transform: uppercase;
      font-weight: normal;
      color: #7c7c7c;
      font-size: 1rem;
    }

    &__divider {
      height: 20px;
      width: 1px;
      background-color: #edeff1;
      margin: 0 16px;
    }

    &__view {
      display: flex;
      align-items: center;
      margin-left: 10px;
      padding: 10px 0;

      &__icons {
        margin-left: 1.2rem;
        display: flex;

        &__btn {
          background: transparent;
          border: none;
          cursor: pointer;
          padding: 0;
          outline: none;
          height: 20px;
          width: 20px;

          &:nth-of-type(2) {
            margin: 0 2px;
          }
        }
      }
    }

    &__sort {
      display: flex;
      align-items: center;

      &__select {
        background-color: transparent;
        cursor: pointer;

        &:last-of-type {
          display: none;
        }

        &__value {
          display: flex;
          align-items: center;
          color: #878a8c;
          font-size: 1.2rem;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          padding: 2px;

          &__icon {
            height: 1.6rem;
            width: 1.6rem;
            margin-left: 0.2rem;
            color: #5296dd;
          }

          &__label {
            font-size: inherit;
            font-weight: 700;
            color: inherit;
            margin: 0 0 0 0.5rem;
            white-space: nowrap;
          }
        }

        &__option {
          display: flex;
          align-items: center;
          color: #878a8c;

          &:hover {
            color: #1c1c1c;
            background-color: #e9f5fd;
          }

          &__icon {
            height: 1.6rem;
            width: 1.6rem;
            margin: 0 0.3rem 0 0.1rem;
            color: #5296dd;
          }

          &__label {
            font-size: inherit;
            font-weight: normal;
            color: inherit;
            margin: 0;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 475px) {
  .sortview-container {
    .sortview {
      &__sort {
        &__select {
          &:last-of-type {
            display: flex;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .sortview-container {
    justify-content: inherit;

    .sortview {
      &__view {
        margin-left: 75px;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .sortview-container {
    .sortview {
      &__view {
        margin-left: 150px;
      }
    }
  }
}
