.subredditinfo {
  &__container {
    display: flex;
    flex-flow: row wrap;
    background-color: $white;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 30rem;
    line-height: 2rem;
  }

  &__header,
  &__members,
  &__icon {
    margin-left: 1rem;
  }

  &__header {
    display: inline;
  }

  &__members {
    display: flex;
    font-size: 0.7rem;
  }

  &__cakeDay {
    display: inline;
  }

  &__description {
    font-size: 16px;
  }

  &__icon {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    float: left;
  }

  &__headertext {
    left: 3rem;
  }

  &__joinbtn {
    width: 20rem;
  }
}
