.trending-community {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
  border-radius: 0.5rem;
  background-color: $white;
  font-size: 1.2rem;
  margin-bottom: 1.6rem;

  &__headline {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 1.2rem 1.2rem;
    margin: 12px 0 0;
  }

  &__container {
    padding: 0 1.2rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1.2rem 0;
    text-decoration: none;

    &__info {
      display: flex;
      align-items: center;

      &__image {
        height: 3.2rem;
        width: 3.2rem;
        margin-right: 0.8rem;
      }

      &__text {
        a {
          text-decoration: none;
          color: #1a1a1a;

          &:hover {
            text-decoration: underline;
          }
        }

        p {
          margin: 0.4rem 0 0;
        }
      }
    }
  }

  &__join-btn {
    width: 90px;
    height: 30px;
  }
}
