.trending-community {
  width: 100%;
  // padding: 0.5rem;
  font-size: 1.2rem;
  display: inline-block;
  border: 1px solid rgba($grey, 0.2);
  border-radius: 0.5rem;
  background-color: $white;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__image {
      align-self: center;
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
    }
  }

  &__headline {
    text-transform: uppercase;
    margin-left: 1rem;
    font-weight: bold;
  }

  &__subreddit-info {
    align-self: flex-start;
    &__sub-info-1 {
      font-weight: bold;
    }
  }

  &__join-btn {
    width: 12rem;
    height: 4rem;
    margin-right: 0.5rem;
    align-self: center;
  }
}
