.homebox {
  width: 33rem;
  font-size: 1.2rem;
  display: inline-block;
  border: 1px solid rgba($grey, 0.2);
  border-radius: 0.5rem;
  background-color: $white;
  text-align: center;

  &__btn {
    width: 80%;
    margin-left: 3.5rem;
  }
}
