.to_top_button {
  width: 128px;
  border: 1px solid transparent;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
}
