.postlist-card {
  width: 100%;
  border-radius: 4px;
  background-color: $white;
  border: 1px solid $grey;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;

  &__vote-container {
    background-color: #f7f7f7;
    height: 100%;
    width: 40px;
    position: absolute;
    top: 0;

    .postlist-card__vote {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 5px;

      svg {
        transition: 0.2s all;
        padding: 2px;
        border-radius: 2px;

        &:hover {
          background-color: $grey;
        }
        &.postlist-card__vote__up:hover {
          color: $orange;
        }
        &.postlist-card__vote__down:hover {
          color: $blue;
        }
      }

      &__text {
        font-weight: bold;
        padding: 2px 0;
      }
    }
  }

  &__details {
    padding-left: 45px;
    margin: 5px 5px 5px 0;
    height: 100%;

    &__info {
      height: 30px;
      margin: 5px 0;
      display: flex;
      align-items: center;

      > div {
        margin: 0 6px;
      }

      &__sub {
        display: flex;
        align-items: center;
        justify-content: center;

        &__img {
          height: 20px;
          width: 20px;
          img {
            height: inherit;
            width: inherit;
          }
        }

        &__text {
          font-weight: bold;
          margin-left: 5px;
        }
      }

      &__user,
      &__date {
        color: #787c7e;
        font-size: 0.9em;
        line-height: 0.9em;
      }
    }

    &__title {
      font-size: 1.4em;
      margin: 10px;
    }

    &__body {
      letter-spacing: 0.3px;
      padding: 5px 7px;
    }
  }

  &__actions {
    margin: 15px 0 5px;
    height: 30px;
    padding-left: 50px;
    color: #787c7e;
    font-size: 0.95em;
    line-height: 0.95em;
    display: flex;
    align-items: center;

    &__comments {
      padding: 5px;
      border-radius: 2px;
      transition: 0.2s all;

      &:hover {
        background-color: $grey;
      }

      svg {
        margin-right: 4px;
      }
    }
  }
}
