.trending-community {
  width: 33rem;
  font-size: 1.2rem;
  display: inline-block;
  border: 1px solid rgba($grey, 0.2);
  border-radius: 0.5rem;
  background-color: $white;

  &__headline {
    text-transform: uppercase;
    margin-left: 1rem;
    font-weight: bold;
  }

  &__subreddit-info {
    &__sub-info-1 {
      margin-top: 1rem;
      font-weight: bold;
    }

    &__sub-info-2 {
      margin-top: 0.6rem;
    }
  }

  &__join-btn {
    vertical-align: middle;
  }
}

.image-wrapper {
  padding: 0.5rem 0.6rem;
}

.icon {
  transform: translateY(0.2rem);
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  vertical-align: middle;
}
