.editor {
  border: 1px solid #edeff1;
  border-radius: 4px;

  &__body {
    resize: vertical;
    height: 100%;
    min-height: 122px;
    overflow: hidden;
    padding: 8px 16px;
    line-height: 2.1rem;
    font-size: 1.4rem;
    font-weight: 400;
  }

  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f7f8;
    position: sticky;
    top: 48px;
    z-index: 11;
    box-sizing: border-box;
    min-height: 37px;
    padding: 4px 8px;
    border-radius: 4px 4px 0 0;

    &__mdheader {
      line-height: 1.8rem;
      font-size: 1.4rem;
      font-weight: 500;
      color: #1c1c1c;
      margin-left: 8px;
    }

    &__toggler {
      background-color: transparent;
      border: none;
      height: 29px;

      &:hover {
        background-color: rgba(26, 26, 27, 0.1);
        border: none;
      }
    }

    &__options {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &__item {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        height: 28px;
        width: 28px;
        transition: background-color 0.1s;
        border: none;
        background-color: transparent;
        padding: 4px;
        outline: none;

        &:hover {
          background-color: rgba(26, 26, 27, 0.1);
          outline: none;
        }

        &__active svg {
          color: #1a1a1b;
        }

        &__icon {
          font-size: 1.6rem;
          color: #878a8c;
        }
      }

      &__divider {
        border-right: 1px solid #edeff1;
        box-sizing: border-box;
        height: 14px;
        margin: 0 6px;
        width: 1px;
      }
    }
  }
}
