// Reddit's Color Palette - https://www.color-hex.com/color-palette/44513
// changed blue to the actual main blue that reddit now uses
$blue: #0079d3;
$light-blue: #92bddf;
$white: #ffffff;
$black: #000000;
$grey: #d7d7d7;
$dark-grey: #7a7a7a;
$orange: #ff6314;
$dark-orange: #ff4501;

// Other Variables - you can place anything else here that you think should be made global
// eg) font-size, font-family, padding, margin

// Grid variables
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 0.6rem;
